.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F9F4EC;
    padding: 18px 60px;
    color: black;
    cursor: pointer;

}

h2{
    font-size: 40px;
    letter-spacing: 1px;
}

a {
  margin-left: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: rgb(0, 0, 0);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.start{
    margin-left: 20px;
    border-radius: 20px;
    background: black;
    color: white;
    padding: 4px;
    font-size: 15px;

}