<div class="main-container">
  <div class="left">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets\image4.png" class="d-block w-100">

        </div>
        <div class="carousel-item">
          <img src="assets\image3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets\image2.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>

  </div>

  <div class="right">

    <div class="container">


      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <h1 style="margin-bottom: 30px; text-align: center;"> Mini Blog</h1>
        <label><b>Name:</b></label>
        <input type="text" name="name" placeholder="Enter Name" ngModel required>

        @if (loginForm.controls['name']?.invalid && loginForm.controls['name']?.touched) {
        <div style="color: red;">Name is required</div>
        }

        <br><br>
        <label><b>Email:</b></label>

        <input type="email" name="email" placeholder=" Enter Email" ngModel required>

        @if (loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched) {
        <div style="color: red;">Email is required</div>
        }

        <br><br>
        <label><b>Password:</b></label>
      
        <input type="password" name="password" placeholder=" Enter Password" ngModel required>

        @if (loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched) {
        <div style="color: red;">Password is required</div>
        }

        <br><br>

        <button routerLink="/home" type="submit">Login</button>

      </form>

    </div>

  </div>

</div>