.postpage {
    height: 85vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}


.row1 {
    display: flex;
    margin: 40px;
    justify-content: space-between;
}

.row {
    width: 20%;
    margin-left: 550px;
}

.row2 {
    display: flex;
}

button {
    background: rgb(109, 156, 239);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-size: 25px;

}


.card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(214, 214, 214);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(184, 183, 183);


}